body {
    background-color: #d9b99b;
    width: 100%;
}

.top-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.top-container h1 {
    font-size: 5rem;
}

img {
    width: 150px;
    height: 200px;
    border-radius: 50%;
}

.mid-container {
    width: 100vw;
    height: 90vh;
}

.mid-container table {
    width: 70%;
    margin: 0 auto;
}

.a_tag {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.back_tag {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    
}

.back_tag:hover {
    background-color: #555;
}

.back_tag:active {
    background-color: black;
}

