body {
    background-color: #d9b99b;
}

h1 {
    margin: 0px;
    padding: 0px;
}

h4 {
    margin: 0px;
    padding: 0px;
}

h5 {
    margin: 0px;
    padding: 0px;
}

.blog-Section {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
}

.blog-Container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
}

p {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.blog-Header {
    margin: 0 auto;
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.a_tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.back_tag {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
}

.back_tag:hover {
    background-color: #555;
}

.back_tag:active {
    background-color: black;
}

