
* {
    margin: 0px;
    padding: 0px;
    
}

.container {
    margin-left: 0;
    float: left;
}

.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.nav-section {
    float: right;
    width: 100px;
    min-height: 100%;
    background-color: #242424;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

#icon {
    width: 90px;
    height: 90px;
}

.container {
    width: 100%;
}

.blog-content {
    margin: 0 auto;
    width: 60%;
}

.blog-container {
    width: 70%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-title {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.5vw;
    width: 20em;
}

h4 {
    font-size: 1.3vw;
    width: 30em;
}

p {
    font-size: 1.1vw;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.a_tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.back_tag {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.back_tag:hover {
    background-color: #555;
}

.back_tag:active {
    background-color: black;
} 

@media screen and (max-width: 1400px) {

    .blog-content {
        width: auto;
    }

    h1 {
        font-size: 2.5vw;
    }
    
    h4 {
        font-size: 2.1vw;
    }
    
    p {
        font-size: 1.5vw;

    }
}

@media screen and (max-width: 1000px) {

    h1 {
        font-size: 2.7vw;
    }
    
    h4 {
        font-size: 2.4vw;
    }
    
    p {
        font-size: 2.2vw;

    }
}

@media screen and (max-width: 824px) {

    .blog-content {
        position: relative;
        right: 30px;
    }
}
