{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <title>Homepage</title>
  </head>
  <body>
    <div class="content">
      <div class="container">
        <h1>TEST</h1>
        <div class="nav-wheel">
          <ol>
            <li id="about">About</li>
            <li>Blog</li>
            <li>Github</li>
          </ol>
        </div>
        <div>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet
            repellendus nemo in enim quis modi! Assumenda, placeat animi
            adipisci, eum dolores deleniti nihil voluptatum modi reprehenderit
            sapiente iure neque. Velit exercitationem dignissimos rerum deserunt
            vero quaerat inventore eveniet aliquam reprehenderit expedita!
            Reprehenderit fugiat minus cumque cupiditate ipsam voluptas
            laboriosam a.
          </p>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
            voluptatum quod, illum assumenda ratione nisi labore rerum deserunt
            quis ea veritatis libero quam, aspernatur deleniti, corrupti
            voluptates. Deserunt nesciunt explicabo laudantium unde
            exercitationem dolore assumenda repellat sunt veritatis libero modi
            omnis, eius commodi, quisquam repellendus repudiandae error facere
            autem. Voluptas!
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
